<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Sostituisci con i valori reali -->
		<add key="TRACEONE_CLIENT_ID" value="6mdosdl9gber7bnd5a3b0hd2vi" />
		
		<add key="TRACEONE_TENANT" value="t169966" />

		<add key="TRACEONE_TOKEN_URL" value="https://apiauth.e2.selerant.cloud/oauth2/token" />
		<add key="TRACEONE_API_BASE" value="https://apigw.e2.selerant.cloud/api/" />

		<!-- Cambia se la tua istanza usa route diverse -->
		<add key="EP_CUSTOMERS" value="customers" />
		<add key="EP_CONTACTS" value="contacts" />
		<add key="EP_MATCUSTOMERS" value="materialCustomers" />
		<add key="EP_CUSTOMER_SPECTYPES" value="customerSpectypes" />
    <add key="EP_EXPORT_MATERIALS" value="exportMaterials" />
	</appSettings>

	<!-- Forza TLS1.2 -->
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
